# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build
.next/
out/
build/
dist/

# Flutter & Dart build
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
apps/tv-mobile/build/
apps/tv-mobile/.idea/
apps/tv-mobile/android/.gradle/

# Logs & OS
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# Local env files
.env*.local
.env
